In [1]:
import pandas as pd 
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv('traindata.csv')

In [5]:
df.head(5)

,ID,comp_name,website,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,...,last_funding_utc,successful_investment,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,0,Nanotecture,http://www.nanotecture.co.uk,closed,Nanotechnology,NaN,GBR,M4,London,Southampton,...,12907,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Sybari,http://www.sybari.com,acquired,Email|Security|Software,1995-01-01,USA,NY,Long Island,East Northport,...,11411,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Futurederm,http://www.futurederm.com,operating,Beauty|Cosmetics|E-Commerce|Social Media,2009-06-07,USA,PA,Pittsburgh,Pittsburgh,...,16217,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Mercora,http://mercora.com,closed,Curated Web,NaN,USA,CA,SF Bay Area,Sunnyvale,...,12784,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Datos IO,http://www.datos.io,operating,Big Data|Cloud Computing|Databases|Enterprise ...,2014-06-01,USA,CA,SF Bay Area,San Jose,...,16693,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
x = df[['ID','comp_name','website','op_status','domain','founded_on','hq_country_code','hq_state_code','hq_region','hq_city','total_funding_usd','funding_rounds','first_funding_date','last_funding_date','num_investors','funding_duration','first_funding_utc','last_funding_utc']] 
y = df['successful_investment']

In [ ]:
x = pd.get_dummies(x)  
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size = 0.3, random_state = 0)